@import "../../Assets/Scss/variables";


.footerMainOuterWrapper {
  background: #fff;
  height: 300px;
  width: 100%;
  padding:20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);

  padding-top: 50px;

}
.footerLogoImageWrapper{
  margin-left: -200px;
  //width: 100%;

}
.footerLogoImageWrapper img{
  width: 100%

}


.footerContentWrapper{

  margin-left: -200px;
  & h2{
    font-size: 20px;
    color: #101729;
    font-family: Roboto-Bold;
  }

}

.footerContentPointerWrapper{
  margin-top: 40px;

}
.footerIconWrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;

  & p a{
    font-size: 20px;
    color: #6D767E;
    font-family: Roboto;
    text-decoration: none;
    margin-left: 20px;
  }
}
@media screen and (max-width: 903px) {
  .footerLogoImageWrapper{
    margin-left: -120px;
    //width: 100%;

  }
  .footerContentWrapper{

    margin-left: -200px;
    & h2{
      font-size: 20px;
      color: #101729;
      font-family: Roboto-Bold;
    }

  }

}

@media screen and (max-width: 650px) {
  .footerLogoImageWrapper{
    margin-left: 0px;
    //width: 100%;

  }

  .footerMainOuterWrapper {
    background: #fff;
    height: 400px;
    width: 100%;
    padding:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 0px;

  }

  .footerContentWrapper{

    margin-left: -120px;
    & h2{
      font-size: 20px;
      color: #101729;
      font-family: Roboto;
    }

  }


  .footerIconWrapper{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;

    & p a{
      font-size: 14px;
      color: #6D767E;
      font-family: Roboto;
      text-decoration: none;
      margin-left: 20px;
    }
  }

}




@media screen and (max-width: 400px) {
  .footerLogoImageWrapper{
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    //width: 100%;

  }

  .footerMainOuterWrapper {
    background: #fff;
    height:350px;
    width: 100%;
    padding:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 0px;

  }

  .footerContentWrapper{

    margin-left: 0px;
    & h2{
      font-size: 20px;
      color: #101729;
      font-family: Roboto;
    }

  }


}
