@import "../../Assets/Scss/variables";


.footerMainOuterWrapper {
  background: #fff;
  height: 300px;
  width: 100%;
  padding:20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  padding-top: 50px;

}
.footerLogoImageWrapper{
  //width: 100%;

}
.footerLogoImageWrapper img{
  width: 100%

}


.footerContentWrapper{

  & h2{
    font-size: 20px;
    color: #101729;
    font-family: Roboto;
  }

}

.footerContentPointerWrapper{
  margin-top: 40px;

}
.footerIconWrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;

  & p{
    font-size: 20px;
    color: #101729;
    font-family: Roboto;
    margin-left: 20px;
  }
}


@media screen and (max-width: 650px) {

  .footerMainOuterWrapper {
    background: #fff;
    height: 400px;
    width: 100%;
    padding:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 0px;

  }

  .footerContentWrapper{


    & h2{
      font-size: 20px;
      color: #101729;
      font-family: Roboto;
    }

  }


}
