@font-face {
  font-family: "Inter-Bold";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
  url("../../Assets/Fonts/Inter/static/Inter-Bold.ttf") format("truetype");
}


@font-face {
  font-family: "Inter-Regular";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
  url("../../Assets/Fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Suwannaphum-Bold";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
  url("../../Assets/Fonts/Suwannaphum/Suwannaphum-Bold.ttf") format("truetype");
}


@font-face {
  font-family: "Suwannaphum-Regular";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
  url("../../Assets/Fonts/Suwannaphum/Suwannaphum-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
  url("../../Assets/Fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}



//
//@font-face {
//  font-family: "Poppins-Regular";   /*Can be any text*/
//  src: local("AirbnbCerealLight"),
//  url("../../Assets/Fonts/Montserrat,Poppins,Raleway/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
//}

@font-face {
  font-family: "Poppins-Regular";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
  url("../../Assets/Fonts/Noto_Sans_Georgian/NotoSansGeorgian-VariableFont_wdth,wght.ttf") format("truetype");
}
